
body{
	font-family: sans-serif;
	background-image: url("blokjes.jpg");
	background-size:100%;
}




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 20px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: blue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#menu {
	color: black;
	font-size:30px;
	cursor:pointer;
	font-size: 100px;
	margin-left: 45px;
	margin-top: 10px;
	text-shadow: 0.03em 0.03em #333
}
#menu:hover {
	color: blue;
}




#home_tekst {
	color: black;
	width: 550px;
	height: 350px;
	background-image: url("vaag kleur.jpg");
	background-size: 100%;
	font-size: 30px ;
	border: 5px solid black;
	padding-left: 20px;
	font-weight: bold;
	margin: auto;
	margin-top: 100px;
	box-shadow: 0.1em 0.1em #333

}
#home_foto {
	float: right;
	margin-right: 20px;
	margin-top: -20px;
}

footer {
	margin-top: 180px;
	text-align: right;
}

#doelen {
	font-size: 25px;
	height: 105px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	margin: auto;
	padding-bottom: 20px;
	text-align: center;
	box-shadow: 0.1em 0.1em #333
}

#programeren {
	font-size: 25px;
	height: 350px;
	width: 650px;
	padding: 10px 25px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	border-top: 0px;
	margin: auto;
	margin-top: 0px;
	box-shadow: 0.1em 0.1em #333
}

#ervaring {
	font-size: 20px;
	height: 105px;
	width: 850px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	margin: auto;
	text-align: center;
	border-bottom: none;
	box-shadow: 0.1em 0.1em #333
}

#werk {
	font-size: 25px;
	height: 250px;
	width: 650px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	border-top: 0px;
	margin: auto;
	margin-top: 0px;
	padding: 10px 25px;
	box-shadow: 0.1em 0.1em #333
}

#studies{
	font-size: 20px;
	height: 105px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	margin: auto;
	text-align: center;
	box-shadow: 0.1em 0.1em #333
}

#tekst_studies {
	font-size: 25px;
	height: 200px;
	width: 750px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	border-top: 0px;
	margin: auto;
	margin-top: -25px;
	box-shadow: 0.1em 0.1em #333
}

#kennis{
	font-size: 20px;
	height: 105px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	margin: auto;
	text-align: center;
	box-shadow: 0.1em 0.1em #333
}

#tekst_kennis {
	font-size: 25px;
	height: 220px;
	width: 750px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	border-top: 0px;
	margin: auto;
	margin-top: 0px;
	padding: 10px 25px;
	box-shadow: 0.1em 0.1em #333
}

#contact{
	font-size: 20px;
	height: 105px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	margin: auto;
	text-align: center;
	box-shadow: 0.1em 0.1em #333
}

#tekst_contact {
	font-size: 25px;
	height: 200px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	border-top: 0px;
	margin: auto;
	box-shadow: 0.1em 0.1em #333

}


#overmij {
	font-size: 20px;
	height: 105px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	margin: auto;
	text-align: center;
	box-shadow: 0.1em 0.1em #333
}

#overmij_tekst {
	font-size: 25px;
	height: 590px;
	width: 750px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	border-top: 0px;
	margin: auto;
	margin-top: 0px;
	padding: 10px 25px;
	box-shadow: 0.1em 0.1em #333
}

#pw {
	text-align: center;
	font-size: 25px;
	margin: 10px;
}

#LS {
	text-align: center;
	font-size: 70px;
	margin: 0px;
}

#pakkend {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#klik {
	text-align: center;
}

#chartdiv {
  width: 1000px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid black;
  margin: auto;
}

#procent {
	height: 20px;
	width: 20px;
	position: absolute;
	margin-left: 265px;
	margin-top: 10px;
}

#MO {
	position: absolute;
	margin-top: 575px;
	margin-left: 325px;
	z-index: 1;
}

#klik {
	color: black;
	font-size: 13px;
}

#ballon {
	display: none;
}

span:hover + #ballon {
	display: block;
	height: 20px;
	width: 90px;
	position: absolute;
	margin-top: 595px;
	margin-left: 390px;
	background-color: white;
	border: 5px solid black;
}

#MO_titel {
	font-size: 20px;
	height: 105px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	border-bottom: none;
	margin: auto;
	text-align: center;
	margin-top: 200px;
}

#back {
	position: absolute;
	margin-top: -100px;
	margin-left: 10px;
}

 button {
	height: 40px;
	width: 300px;
	font-size: 30px;
}

#instagram {
	font-size: 60px;
	display: inline;
	margin: 50px;
	color: white;
	margin-left: 80px;
}
#facebook {
	display: inline;
	font-size: 60px;
	margin: 50px;
	color: white;
}
#mail {
	display: inline;
	font-size: 60px;
	margin: 50px;
	color: white;
}
#instagram:hover, #facebook:hover, #mail:hover {
	color: blue;
}
#demo {
	font-size: 40px;
	height: 80px;
	width: 900px;
	background-color: rgba(255, 255, 255, 0.5);
	border:5px solid black;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	padding: 20px;
}
#hovenier {
	display: inline;
	height: 200px;
	width: 250px;
	position: absolute;
	margin-top: 100px;
	margin-left: 50px;
}
#titel_menu {
	color: blue;
	font-size: 30px;
	text-align: center;
}
#kop {
	border-radius: 100%;
	margin-left: 65px;
	height: 130px;
	width: 130px;
}
#beginknop:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
@media screen and (max-width: 1020px) and (min-width: 420px)
{
 body {
 	background-image: url("mobiel blokjes.jpg");
 }
