body {
	background-image: url("achtergrond website.jpg" );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 105%;
}
 h1{
	color: white;
	text-align: center;
	font-size: 45px
}
p {
	font-family: verdana;
	font-size: 25px;
	text-align: center;
	color: white
}
#groot {
	font-size: 35px
}

h2,h3,h4,h5 {color: white;
	text-align:center;
	font-size: 30px
}

div{
	background-color: rgba(0, 0, 255, 0.3);
	width:650px;
	border:10px solid darkblue;
	padding:5px;
	margin:20px;
}
#div1 {position: absolute;
	top: 455px;
	left:200px;
}
#div2 {
	position:absolute;
	top: 450px;
	right: 200px;
}
#div3 {position: absolute;
	top:1040px;
	left: 200px;
}
#div4 {position: absolute;
	top: 1040px;
	right: 200px;
}
#div5 {position: absolute;
	top:1500px;
	left: 200px;
	width: 1430px;
}
a {
	color: white;
}
img{
	border-radius: 80%;
}
